<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logosinfondo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logosinfondo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoDriveX">
        <activity
            android:name=".Model.User"
            android:exported="false" />
        <activity
            android:name=".Views.Editaccount"
            android:exported="false" />
        <activity
            android:name=".Views.Register"
            android:exported="false" />
        <activity
            android:name=".Views.Login"
            android:exported="false" />
        <activity
            android:name=".Views.Details"
            android:exported="false" />
        <activity
            android:name=".Model.Car"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>